In [1]:
print('Hello CISC504!')

Hello CISC504!

In [5]:
print(5-1)

4

In [6]:
print(5+1)

6

In [1]:
# You will be using comments in an upcoming exercise to explain some Python output
print(4/2) # comments can also be added in-line, following a statement, write comments can explan your code

2.0

In [2]:
# This is a similar example using multiplication, note the star operator symbolizes the multiplication function
print(4*2)

8

In [5]:
def minus(num1,num2): return(num1-num2)
minus(10,1)

9

In [6]:
def greeting():
    print('Good moring')
    print('Hello, How are you?')

In [7]:
greeting()

Good moring
Hello, How are you?

In [8]:
def greeting2(name):
    print('hello',name)
    print(name,'How are you?')

In [9]:
greeting2('Michael')

hello Michael
Michael How are you?

In [10]:
print('supre'+'man')

supreman

In [13]:
print('Mayday '*3)

Mayday Mayday Mayday

In [14]:
print('Mayday'/3)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [15]:
list(range(5))

[0, 1, 2, 3, 4]

In [16]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [17]:
for num in range(5,10):print(num)

5
6
7
8
9

In [18]:
for i in range(5):print(4*i)

0
4
8
12
16

In [19]:
print(0*4)
print(1*4)
print(2*4)
print(3*4)
print(4*4)

0
4
8
12
16

In [20]:
print(12+2)

14

In [21]:
print('12'+'2')

122

In [27]:
def numfunction(num):
    return num*1.8 + 32
numfunction(10)

50.0

In [29]:
def stringFunction(food, fruit):
    print('Our lunch is', food, 'and', fruit)
stringFunction('pizza', 'apple')

Our lunch is pizza and apple

In [30]:
for i in range(0,10): print(i*i)

0
1
4
9
16
25
36
49
64
81